.project-container {
    width: 80%;
    height: 100%;
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 15px 59px 10px black;
    font-family: 'Medium', sans-serif;
    border-radius: 2rem;
}

/* Top section */
.project-title-container {
    width: 100%;
    height: 10%;
    text-align: center;
    justify-content: center;
    text-align: center;
    display: flex;
    margin: 2rem 0 0 0;
}

.project-title-text {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Mid Section */
.project-panel-container {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.image-text {
    width: 100%;
    height: 50%;
    margin: 2rem 0 0 0;
    font-size: 15px;
    word-wrap: break-word
}

.carousel-control-prev, .carousel-control-next {
    margin-bottom: 20%;
}


@media only screen and (max-width: 700px) {
    .project-container {
        width: 100%;
    }
}

@media only screen and (max-width: 400px) {
    .project-container {
        height: 55%;
    }

    .carousel-control-prev, .carousel-control-next {
        margin-bottom: 40%;
    }
}