.project-container {
    width: 80%;
    height: auto;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 15px 59px 10px black;
    font-family: 'Medium', sans-serif;
    border-radius: 2rem;
}

/* Top section */
.project-title-container {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0; 
}

.project-title-text {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Mid Section */
.project-panel-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem; 
}

.carousel-text {
    display: flex;
}

.image-text {
    width: 100%;
    margin: 2rem 0;
    font-size: 15px;
    word-wrap: break-word
}

.image-text p, h5{
    padding: 1rem;
}

.image-text h5 {
    text-align: center;
}

.carousel-control-prev, .carousel-control-next {
    height: 50%;
    position: absolute;
}

#project-images-fc, #project-images-dk {
    max-width: auto;
    max-height: 550px;
}

.animated.fadeIn {
    display: flex;
    justify-content: center;
    width: 100%;
}

@media only screen and (min-width: 1600px) {
   
    #project-images-fc, #project-images-dk {
        max-height: 700px;
    }
}

@media only screen and (max-width: 1250px) {
   
    #project-images-fc, #project-images-dk {
        max-height: 450px;
    }
}

@media only screen and (max-width: 700px) {
    .project-container {
        width: 100%;
    }

    #project-images-fc, #project-images-dk {
        max-height: 300px;
    }
}


@media only screen and (max-width: 450px) {
   
    #project-images-fc, #project-images-dk {
        max-height: 200px;
    }
}

