.project-container {
    width: 100%;
    height: auto;
    margin: 0 auto; 
    display: flex;
    background-color: #C0C0C0;
    flex-direction: column;
    align-items: center;
    font-family: 'Medium', sans-serif;
}

/* Top section */
.project-title-container {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0; 
}

.project-title-text {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Mid Section */
.project-panel-container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem; 
}

.carousel-text {
    display: flex;
}

.image-text {
    width: 100%;
    margin: 2rem 0;
    font-size: 15px;
    word-wrap: break-word
}

.image-text p, h5{
    padding: 1rem;
}

.image-text h5 {
    text-align: center;
}

.carousel-control-prev, .carousel-control-next {
    height: 65%;
    position: absolute;
    color: black !important;
}

#project-images-fd, #project-images-dk, #project-images-qc {
    max-width: auto;
    max-height:90vh;
    cursor: pointer;
}

.animated.fadeIn {
    display: flex;
    justify-content: center;
    width: 100%;
}

@media only screen and (min-width: 1600px) {
   
    #project-images-fd, #project-images-dk, #project-images-qc {
        max-height: 700px;
    }
}

@media only screen and (max-width: 1250px) {
   
    #project-images-fd, #project-images-dk, #project-images-qc{
        max-height: 450px;
    }
}

@media only screen and (max-width: 700px) {
    .project-container {
        width: 100%;
        border-radius: 0;
    }

    #project-images-fd, #project-images-dk, #project-images-qc {
        max-height: 300px;
    }

    .carousel-control-prev, .carousel-control-next {
        height: 50%;

    }
}

@media only screen and (max-width: 650px) {
    .carousel-control-prev, .carousel-control-next {
        height: 30%;

    }
}

@media only screen and (max-width: 500px) {
    .carousel-control-prev, .carousel-control-next {
        height: 20%;

    }
}

@media only screen and (max-width: 350px) {
    .carousel-control-prev, .carousel-control-next {
        height: 15%;
    }
}



