.education-container {
    width: 100%;
    height: auto;
    display: flex;
    background-color: #1D1A39;
    flex-direction: column;
    margin: auto ;
}

.education-title-container {
    width: 100%;
    height: 5%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hr-line {
    width: 100%;
    border: none; 
    height: 5px; 
    background-image: linear-gradient(to right, transparent,transparent, white, transparent,transparent); 
  }

.education-content-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    align-items: center;
    margin: 10% 0 10% 0;
}

.education-uni-1-image {
    display: flex;
    justify-content: center;
}

.education-image{
    width: 300px;
    height: 450px;
}

.education-uni-1-text {
    text-align: center;
    margin: 0 1rem 0 1rem;
}

.education-uni-2-image {
    display: flex;
    justify-content: center;
}

.education-uni-2-text {
    text-align: center;
    margin: 0 1rem 0 1rem;
}

.education-college-1-image {
    display: flex;
    justify-content: center;
}

.education-college-1-text {
    text-align: center;
    margin: 0 1rem 0 1rem;
}

.education-college-2-image {
    display: flex;
    justify-content: center;
}

.education-college-2-text {
    text-align: center;
    margin: 0 1rem 0 1rem;
}

.animated.fadeIn {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 600px){
    .education-container {
        width: 100%;
    }
}

@media only screen and (max-width: 700px){

    .education-content-container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .education-title-container {
        height: 10%;
    }

    .education-uni-1-image  {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    .education-uni-1-text  {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
    .education-uni-2-image  {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    
    .education-uni-2-image  {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .education-college-1-image {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;
    }
    
    .education-college-1-text {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 6;
        grid-row-end: 7;
    }

    .education-college-2-image {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 7;
        grid-row-end: 8;
    }
    
    .education-college-2-text {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 8;
        grid-row-end: 9;
    }
}




