.home-view {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 110vh;
  }

.about-me-view {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.projects-view {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  margin-top: 30%;
}

.education-view {
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
  margin: 40% auto 0 auto;
}

.contact-view {
  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  margin-top: 50%;
}

/* Width Media */
@media only screen and (max-width: 1050px) {
  .about-me-view {
    height: auto;

  }

  .education-view {
    margin: 70% auto 0 auto;
  }

  .projects-view {
    margin-top: 60%;
  }
 }

 @media only screen and (max-width: 850px) {
  .projects-view {
    margin-top: 100%;
    height: auto;

  }
 }

 @media only screen and (max-width: 450px) {
  .contact-view {
    margin-top: 100%;
  }
 }


 /* Height Media */
 @media only screen and (max-height: 700px) {
  .education-view {
    margin: 120% auto 0 auto;
  }
 }

