body {
    background: -moz-linear-gradient(0deg, rgba(192, 140, 67, 1) 0%, rgba(44, 44, 101, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(192, 140, 67, 1) 0%, rgba(44, 44, 101, 1) 100%);
    background: linear-gradient(to bottom, rgba(44, 44, 101, 1) 0%, rgb(136, 95, 38) 100%, rgba(192, 140, 67, 1) 100%);
    position: relative;
    background-attachment: fixed;
}