html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Light', sans-serif;
}

body {
    background-color: #1D1A39;
    background-size: 100%;
    position: relative;
    background-attachment: fixed;
}

p {
    margin: 0;
}

@font-face {
    font-family: "Medium";   
    src: local("AirbnbCerealLight"),
      url("./fonts/Comfortaa-Medium.ttf") format("truetype");
  }

  @font-face {
    font-family: "Light";   
    src: local("AirbnbCerealLight"),
      url("./fonts/Comfortaa-Light.ttf") format("truetype");
  }
